* {
    box-sizing: border-box;
    font-family:'Source Sans Pro', sans-serif;;
    font-weight: 900;
}

#new-book-btn {
    display: block;
    background-color: blue;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    /* height: 50px; */
    border: none;
    border-radius: 10px;
    padding: 20px;
}

#new-book-form {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: 0.3s;
    margin-bottom: 10px;
}


input[type="text"]:focus {
    border-color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}


#library {
    height: 100%;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-column-gap: 5%;
    justify-content: center;
}

.book-card {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    text-align: center;
}


